# Ignore bin and obj folders
bin/
obj/

# Ignore user-specific Visual Studio files
*.user
*.suo
*.vsp
*.vspscc
*.vssscc
*.cache
*.ncb
*.opendb
*.sln.docstates

# Ignore build artifacts
*.dll
*.exe
*.pdb
*.log

# Ignore NuGet packages
*.nupkg
packages/

# Ignore Rider IDE files
.idea/
